*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color:white;
    font-size: larger;
    
}

nav .navitems {
    padding: 1rem;
}